{% extends "::base.html.twig" %}

{% block title %}{{ 'index'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center col-sm-12">
            <h3>
                {{ "hello text"|trans }}
            </h3>
        </div>

    </div>
{% endblock %}
