{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Monies list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Pw</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {#{% for money in monies %}#}
                <tr>
                    <td><a href="{{ path('profile_money_show', { 'id': money.id }) }}">{{ money.id }}</a></td>
                    <td>{{ money.pw }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('profile_money_show', { 'id': money.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('profile_money_transfer', { 'id': money.id }) }}">transfer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {#{% endfor %}#}
            </tbody>
        </table>
    </div>


    
{% endblock %}
