{% extends 'base.html.twig' %}

{% block body %}
    <h1>Money</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ money.id }}</td>
            </tr>
            <tr>
                <th>Pw</th>
                <td>{{ money.pw }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_money_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
