<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/build/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'knp/knp_menu.html.twig'}) }}
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script href="{{ asset('public/build/scripts.js') }}" type="application/javascript"></script>
        {% endblock %}
    </body>
</html>
