{% trans_default_domain 'FOSUserBundle' %}

<div class="jumbotron">

    {% if error %}
        <div class="text-info text-center"><h3>{{ error.messageKey|trans(error.messageData, 'security') }}</h3></div>
    {% endif %}


    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                   required="required"/>
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required"/>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <input type="submit" class="btn btn-default" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
    </form>
</div>